<div class="container"><br>
	<%= image_tag(@article.image, class:'art-img') unless @article.image.blank? %><br><br>
	<h4 class="art-la">
<%= @article.title %><br>
</h4>
<p class="text-left">
<%= @article.text %><br>
</p>
<% @article.categories.each do |f| %><br>
<p> Category:
<%= f.name %>
</p>
<% end %>
<%= like_or_dislike_btn(@article) %>
<p> <%= @article.likes.count %> likes 
</p>
<p>Views: <%= @article.hits %></p>
<p>Written by:
<%= @article.author.name %>
</p>
</div><br>
<%= render 'homes/footer' %>
