<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><img src="https://st2.depositphotos.com/3382541/8313/i/950/depositphotos_83131290-stock-photo-illustration-passenger-plane-aircraft.jpg" class="logo">Aviation</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto la">
      <li class="nav-item">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
        	<%= Category.first.name %>
        </a>
      </li>
		<li class="nav-item">
        <a class="nav-link" href="#">
        	<%= Category.find(13).name %>
        </a>
      </li>
           <li class="nav-item">
        <a class="nav-link" href="#">
        	<%= Category.find(14).name %>
        </a>
      </li>
        </li>
           <li class="nav-item">
        <a class="nav-link" href="#">
        	<%= Category.find(15).name %>
        </a>
      </li>

    </ul>
    <%= link_to "Create New Article",  new_article_path, class:'btn btn-light' %>
    <%= link_to "Log Out", destroy_user_session_path, method: :delete, class:'btn btn-light' %>
  </div>
</nav>

<div class="container-fluid">
  <div class="image-gallery">
    <div class="img-1">
   <% Like.popular.each do |s| %>
    <%= s.article.title %>
    <%= image_tag(s.article.image) %>
   <% end %>
 </div>
 <div class="img-2">
   <img src="https://siliconcanals.com/wp-content/uploads/2019/08/airplane-travel-tip.jpg" alt="" class="s1">
 </div>
 <div class="img-3">
   <img src="https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fstatic.onecms.io%2Fwp-content%2Fuploads%2Fsites%2F28%2F2019%2F10%2Fhawaiian-airlines-plane-PLANEPAINT0919.jpg&q=85" alt="" class="s">
 </div>
 <div class="img-4">
   <img src="https://img1.grunge.com/img/gallery/the-real-reason-airplanes-are-almost-always-painted-white/intro-1567189774.jpg" alt="" class="s">
</div>
<div class="img-5">
   <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5e/ANA_777-300_Taking_off_from_JFK.jpg/300px-ANA_777-300_Taking_off_from_JFK.jpg" alt="" class="s">
 </div>
 <div class="img-6">
   <img src="https://www.futuresplatform.com/sites/default/files/styles/article_hero_image/public/2018-04/Future%20of%20Airplanes.jpg?itok=Oj9J2usE" alt="" class="s">
 </div>
  </div>
</div>

