<div class="container-fluid">
  <div class="image-gallery">
    <div class="img-1">
   <%= vote(Like.popular.first&.article) if Like.popular.first&.article.present? %>
   </div>
 <div class="img-2">
  <p class="space text-white"><i>Add your space here</i></p>
  <img src="https://i.pinimg.com/originals/63/8e/1b/638e1b6e7208069bfc7c1441e4155755.jpg" alt="" class="arti-img">
 </div>
 <div class="img-3">
   <%= link_to cat_name, cat_name, class:'top-cat' if cat_name.present? %>
   <p class="p-ti">
  <%=  first_displayed_category unless first_displayed_category.blank? %>
  </p>
   <%= first_displayed_image if first_displayed_image.present? %>
  </div>
 <div class="img-4">
   <%= link_to second_name, second_name, class:'top-cat' if second_name.present? %>
   <p class="p-ti">
  <%= second_displayed_category if second_displayed_category.present? %>
</p>
   <%= second_displayed_image if second_displayed_image.present? %>
</div>
<div class="img-5">
   <%= link_to third_name, third_name, class:'top-cat' if third_name.present? %>
   <p class="p-ti">
   <%= third_dipalyed_category if third_dipalyed_category.present? %>
 </p>
    <%= third_displayed_image if third_displayed_image.present? %>
 </div>
 <div class="img-6">
   <%= link_to fourth_name, fourth_name, class:'top-cat' if fourth_name.present? %>
   <p class="p-ti">
   <%= fourth_displayed_category if fourth_displayed_category.present? %>
 </p>
 <%= fourth_displayed_image if fourth_displayed_image.present? %>
 </div>
  </div>
</div>

