<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><img src="https://st2.depositphotos.com/3382541/8313/i/950/depositphotos_83131290-stock-photo-illustration-passenger-plane-aircraft.jpg" class="logo">Aviation</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto la">
      <li class="nav-item">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
        	<%= cat_name %>
        </a>
      </li>
		<li class="nav-item">
        <a class="nav-link" href="#">
        	<%= second_name %>
        </a>
      </li>
           <li class="nav-item">
        <a class="nav-link" href="#">
        	<%= third_name %>
        </a>
      </li>
        </li>
           <li class="nav-item">
        <a class="nav-link" href="#">
        	<%= fourth_name %>
        </a>
      </li>

    </ul>
    <%= link_to "Create New Article",  new_article_path, class:'btn btn-light' %>
    <%= link_to "Log Out", destroy_user_session_path, method: :delete, class:'btn btn-light' %>
  </div>
</nav>